:root{
    --MAIN-TEXT-color:#e6e6e6; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #e6e6e6; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:var(--MENU-HEADER-BG-color); /* Color of links */
    --MAIN-LINK-HOVER-color:#7fb8c6; /* Color of hovered links */
    --MAIN-ANCHOR-color: #7fb8c6; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#37abc8; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:var(--MENU-HEADER-BG-color); /*Color of menu header border */ 

    --MENU-SEARCH-BG-color: #154b59; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #101010; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #101010; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #e6e6e6; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: var(--MENU-HEADER-BG-color);  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #7fb8c6; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #101010; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    --MAIN-BG-color: #101010;
}

body {
    background-color: var(--MAIN-BG-color);
    color: var(--MAIN-TEXT-color) !important;
}

#top-bar{
    background-color: #252c31;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

#chapter h1 {
    color: var(--MENU-HEADER-BG-color) !important;
    border-bottom: 1px solid var(--MENU-HEADER-BG-color);
}

h1 {
    color: var(--MENU-HEADER-BG-color) !important;
}


h2, h3, h4, h5 {
    color: var(--MAIN-TEXT-color) !important;
}

#top-bar-sticky-wrapper {
    color: var(--MAIN-TEXT-color) !important;
    background-color: #101010;
}
a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}



#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BG-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-HEADER-BG-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: #101010;
}

.searchbox input::placeholder {
    color: var(--MENU-HEADER-BG-color);
    font-weight: 900;
    font-family: "Daytona", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

#body .nav > i {
    font-size: .5em;
}

#body .nav:hover {
    background-color: var(--MAIN-BG-color);
    color: var(--MENU-LINK-color);
}

#footer {
    /* position:fixed; */
    padding: 1em;
    bottom:0;
}
